doctype html
html(lang="en")
   head
      meta(charset="UTF-8")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      link(rel='stylesheet', href='/public/style2.css')
      title welcome
   body 
   h1 welcome To the Blog page

   if username 
      h1 Good afternoon #{username}
      a(href="/logout") logout  
      a(href=`addArticle`) Add article
   else 
      a(href="/login") login
      a(href="/register") register
   ul   
      each i in articles
         li 
            h2 #{i.id} 
            p #{i.data}
            p User: #{users.find(user => user.username === i.username).username}
            if users.find(user => user.username === i.username).username === username 
               a(href=`/edit/${i.id}`) edit
               button(onclick=`deleteArticle(${i.id})`) delete

   script.
      function deleteArticle(articleId) {
         if (confirm("Are you sure you want to delete this article?")) {
            fetch(`/delete/${articleId}`, { method: "POST" })
         .then(() => {
            location.reload();
         })
         .catch((error) => {
            console.error("Error deleting article: " + error);
         });
      }}


   